.main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #72b9fb;
    height: 100%;
}

.eventform {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    /* padding: 0 100px; */
}
.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.eventdetails_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
    border-radius:0  0 20px 20px;

}
.eventdetails_con_circle:first-child{
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translateX(-30px);
    border: 6px yellow solid;
    top: 20px;
    border-radius: 50%;
}
.eventdetails_con_circle:nth-child(2){
    width: 60px;
    height: 60px;
    position: absolute;
    border: 8px #74d4b8 solid;
    transform: translateX(-100px);
    bottom: 15px;
    position: absolute;
    border-radius: 50%;
}
.eventdetails_con_circle:nth-child(3){
    width: 150px;
    height: 150px;
    border: 14px #8319c4 solid;
    transform: translateX(80px);
    border-radius: 50%;
}

.eventform_con, .eventdetails {
    max-width: 600px;
    width: 100%;
}

.eventdetails_dnt {
    color: gray;
    margin-bottom: 10px;
    font-weight: 500;

}

.eventdetails_title {
    font-size: 30px;
    color: black;
    font-weight: 600;
    position: absolute;
    top:30px;
    /* left: 20px; */

}

.eventdetails_des {
    color: gray;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 26px;
}

.register {
    margin-bottom: 20px;

}

.button {
    width: 100%;
    padding: 10px;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 20px;

}

.footer {
    /* text-align: center; */
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 20px;
    color: gray;
}
.footer p{

    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .eventform_con, .eventdetails {
        width: 80%;
    }
}